@use "sass:map";
@use "../foundation/variables" as *;
@use "../foundation/mixin" as mixin;

/* Header
   ----------------------------------------------------------------- */

.header {
  border-bottom: 1px solid var(--color-neutral-200);
  &__inner {
    padding: 12px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mixin.mq("md") {
      padding: 10px calc(5% + 60px) 10px 5%;
    }
    @include mixin.mq("lg") {
      padding: 24px 32px;
    }
  }

  &__logo {
    width: 180px;
    @include mixin.mq("md") {
      width: 240px;
    }
    @include mixin.mq("lg") {
      width: 268px;
    }
    a,
    svg {
      width: 100%;
      height: auto;
      display: block;
    }
    a {
      transition: 0.3s;
      display: block;
    }
    a:hover {
      opacity: 0.7;
    }
  }
  &__line {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-left: auto;
  }
  &__nav {
    display: none;
    @include mixin.mq("lg") {
      display: block;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 24px;
    }
    &-item {
    }
    &-link {
      font-weight: var(--font-weight-700);
    }
  }
  &__icon-list {
    display: none;
    @include mixin.mq("md") {
      display: block;
    }
  }
}
