@use "@/styles/foundation/mixin" as mixin;
/* About
   ----------------------------------------------------------------- */
.p-profile {
  padding-block: var(--spacing-8) var(--spacing-12);
  @include mixin.mq("md") {
    padding-block: var(--spacing-12);
  }
  @include mixin.mq("lg") {
    padding-block: var(--spacing-15);
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include mixin.mq("sm") {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__left {
    margin-bottom: var(--spacing-6);
    @include mixin.mq("sm") {
      width: calc(100% - 210px);
    }
    @include mixin.mq("md") {
      margin-bottom: var(--spacing-8);
      width: calc(50% - 20px);
    }
    @include mixin.mq("lg") {
      margin-bottom: 0;
    }
  }
  &__right {
    @include mixin.mq("lg") {
      width: calc(50% - 20px);
    }
  }
  &__name {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-700);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    margin-bottom: var(--spacing-1);

    @include mixin.mq("md") {
      font-size: var(--text-4xl);
    }
    @include mixin.mq("lg") {
      margin-bottom: var(--spacing-2);
      font-size: var(--text-6xl);
    }
    &-en {
      font-family: var(--font-secondary);
      letter-spacing: var(--tracking-base);
    }
    &-ja {
      font-size: 0.5em;
      letter-spacing: var(--tracking-base);
    }
  }
  &__position {
    font-weight: var(--font-weight-700);
    line-height: var(--leading-lg);
    margin-bottom: var(--spacing-6);
    @include mixin.mq("md") {
      margin-bottom: var(--spacing-8);
    }
    @include mixin.mq("lg") {
      margin-bottom: var(--spacing-10);
    }
  }
  &__text {
    line-height: var(--leading-lg);
  }
  &__box {
    width: fit-content;
    padding: var(--spacing-4) var(--spacing-4) var(--spacing-10)
      var(--spacing-4);
    border-radius: 8px;
    border: 1px solid var(--color-neutral-300);
    margin-inline: auto;
  }
  &__image {
    width: 160px;
    aspect-ratio: 1/ 1;
    margin-bottom: var(--spacing-4);
    > img {
      border-radius: 8px;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}

.p-skills {
  padding-block: var(--spacing-12);
  @include mixin.mq("md") {
    padding-block: var(--spacing-14);
  }
  @include mixin.mq("lg") {
    padding-block: var(--spacing-15);
  }
  &__container {
    @include mixin.mq("md") {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__items {
    @include mixin.mq("md") {
      width: calc(50% - 20px);
    }
  }
  &__item {
    &-title {
      font-weight: var(--font-weight-700);
      letter-spacing: var(--tracking-base);
      font-size: var(--text-md);
      border-bottom: 2px solid var(--color-accent-darken);
      width: fit-content;
      padding-bottom: var(--spacing-1);
      margin-bottom: var(--spacing-5);
      @include mixin.mq("md") {
        padding-bottom: var(--spacing-2);
        margin-bottom: var(--spacing-6);
        font-size: var(--text-lg);
      }
      @include mixin.mq("lg") {
        font-size: var(--text-xl);
      }
    }
    &-technologies {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-2);
      margin-bottom: var(--spacing-5);

      @include mixin.mq("md") {
        margin-bottom: var(--spacing-6);
      }
    }
    &-technology {
      font-weight: var(--font-weight-700);
      letter-spacing: var(--tracking-base);
      background-color: var(--color-primary);
      text-align: center;
      border-radius: 2px;
      padding: var(--spacing-1) var(--spacing-2);
      color: var(--color-white);
      @include mixin.mq("md") {
        padding: var(--spacing-1) var(--spacing-3);
      }
    }
    &-text {
      line-height: var(--leading-lg);
    }
    &:not(:last-child) {
      margin-bottom: var(--spacing-6);
      @include mixin.mq("md") {
        margin-bottom: var(--spacing-7);
      }
      @include mixin.mq("lg") {
        margin-bottom: var(--spacing-8);
      }
    }
  }
}
.p-experience {
  padding-block: var(--spacing-12) var(--spacing-24);
  @include mixin.mq("md") {
    padding-block: var(--spacing-14) var(--spacing-28);
  }
  @include mixin.mq("lg") {
    padding-block: var(--spacing-15) var(--spacing-30);
  }
  &__container {
    @include mixin.mq("md") {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__list {
    padding-top: var(--spacing-10);
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: var(--color-neutral-900);
      position: absolute;
      z-index: 0;
      // right: 8px;
      left: 100px;
      top: 0;
      translate: -50% 0;
    }
    @include mixin.mq("md") {
      width: calc(50% - 20px);
      &::after {
        left: 120px;
      }
    }
    @include mixin.mq("lg") {
      &::after {
        left: 172px;
      }
    }
  }
  &__list-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: var(--spacing-16);
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      background-color: var(--color-primary);
      border-radius: 50%;
      position: absolute;
      top: 0.75em;
      // left: ;
      // right: 0;
      left: 100px;
      translate: -50% -50%;
    }
    @include mixin.mq("md") {
      grid-template-columns: 120px 1fr;

      &::after {
        left: 120px;
      }
    }
    @include mixin.mq("lg") {
      grid-template-columns: 172px 1fr;

      &::after {
        left: 172px;
      }
    }
    &:not(:last-child) {
      margin-bottom: var(--spacing-12);
    }
    &__year {
      line-height: var(--leading-lg);
    }
    &__content {
      line-height: var(--leading-lg);
    }
  }
}
