@use "@/styles/foundation/mixin" as mixin;

/* Pagination
   ----------------------------------------------------------------- */
.c-pagination {
  margin-top: var(--spacing-18);
  margin-top: var(--spacing-12);
  @include mixin.mq("md") {
    margin-top: var(--spacing-16);
  }
  @include mixin.mq("lg") {
    margin-top: var(--spacing-18);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

    @include mixin.mq("lg") {
      gap: 12px;
    }
  }
  &__item {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-700);
    @include mixin.mq("lg") {
      font-size: var(--text-base);
    }
  }
  &__link {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-white);
    color: var(--color-primary);
    align-content: center;
    text-align: center;
    transition: color 0.3s background 0.3s;
    @include mixin.mq("md") {
      width: 56px;
      height: 56px;
    }
    @include mixin.mq("lg") {
      width: 64px;
      height: 64px;
    }
    &:hover {
      opacity: 1;
      background-color: var(--color-primary);
      color: var(--color-white);
    }
    &--current {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}
