@use "@/styles/foundation/mixin" as mixin;
/* topHero
   ----------------------------------------------------------------- */
.p-topHero {
  background: linear-gradient(45deg, var(--gradation-primary));
  padding-block: 64px;
  @include mixin.mq("sm") {
    padding-block: 80px;
  }
  @include mixin.mq("md") {
    padding-block: 100px;
  }
  @include mixin.mq("lg") {
    padding-block: 160px;
  }
  &__inner {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  &__heading {
    order: 2;
    font-weight: var(--font-weight-700);
    text-align: center;
    letter-spacing: var(--tracking-base);
    line-height: var(--leading-lg);
    font-size: var(--text-base);
    @include mixin.mq("md") {
      font-size: var(--text-md);
    }
    @include mixin.mq("lg") {
      font-size: var(--text-lg);
    }
  }
  &__logo {
    order: 1;
    width: min(100%, 320px);
    margin-bottom: var(--spacing-8);
    > svg {
      width: 100%;
      height: auto;
    }
    @include mixin.mq("md") {
      width: 480px;
      margin-bottom: var(--spacing-10);
    }
    @include mixin.mq("lg") {
      width: 581px;
      margin-bottom: var(--spacing-12);
    }
  }
  &__links {
    order: 3;
    margin-top: var(--spacing-10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: var(--spacing-4);
    width: 100%;

    @include mixin.mq("md") {
      margin-top: var(--spacing-14);
      gap: var(--spacing-5);
    }
    @include mixin.mq("lg") {
      margin-top: var(--spacing-16);
      gap: var(--spacing-8);
    }
  }
  &__button {
    max-width: 320px;
    width: 100%;
  }
}

/* topAbout
   ----------------------------------------------------------------- */
.p-topAbout {
  margin-top: var(--spacing-12);
  padding-block: var(--spacing-12);

  @include mixin.mq("lg") {
    margin-top: var(--spacing-15);
    padding-block: var(--spacing-15);
  }
  &__inner {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas:
      "title"
      "image"
      "text-area"
      "button";
    grid-template-columns: 1fr;
    @include mixin.mq("md") {
      grid-template-areas:
        "image title"
        "image text-area"
        "image button";
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__title {
    grid-area: title;
    @include mixin.mq("md") {
      justify-self: self-start;
    }
  }
  &__text-area {
    grid-area: text-area;
    @include mixin.mq("md") {
      justify-self: self-start;
    }
  }
  &__text {
    line-height: var(--leading-lg);

    &:not(:nth-last-of-type(1)) {
      margin-bottom: 1em;
    }
    @include mixin.mq("md") {
      &:not(:nth-last-of-type(1)) {
        margin-bottom: 2em;
      }
    }
  }
  &__button {
    margin-top: var(--spacing-8);
    grid-area: button;
    @include mixin.mq("md") {
      justify-self: self-start;
      margin-top: var(--spacing-10);
    }
    @include mixin.mq("lg") {
      margin-top: var(--spacing-14);
    }
  }
  &__image {
    grid-area: image;

    background-color: var(--color-neutral-300);
    aspect-ratio: 1 / 1;
    width: min(300px, 64%);
    margin-bottom: var(--spacing-6);
    @include mixin.mq("md") {
      margin-bottom: 0;
    }
    > img {
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }
  }
}

/* topCta
   ----------------------------------------------------------------- */
.p-topCta {
  // margin-top: var(--spacing-24);
  padding-block: var(--spacing-24);
  background-color: var(--color-accent-lightness);

  @include mixin.mq("lg") {
    margin-top: var(--spacing-30);
    padding-block: var(--spacing-30);
  }
  &__text {
    font-weight: var(--font-weight-700);
    text-align: center;
    letter-spacing: var(--tracking-base);
    line-height: var(--leading-lg);
    font-size: var(--text-base);
    @include mixin.mq("md") {
      font-size: var(--text-md);
    }
    @include mixin.mq("lg") {
      font-size: var(--text-lg);
    }
  }
  &__button {
    margin-top: var(--spacing-8);

    @include mixin.mq("md") {
      margin-top: var(--spacing-10);
    }
    @include mixin.mq("lg") {
      margin-top: var(--spacing-14);
    }
  }
}
