@use "@/styles/foundation/mixin" as mixin;
/* WorksDetail
   ----------------------------------------------------------------- */
.p-works-detail {
  padding-block: var(--spacing-14) var(--spacing-30);
  &__category {
    margin-bottom: var(--spacing-4);
  }
  &__title {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-700);
    letter-spacing: var(--tracking-base);
    margin-bottom: var(--spacing-8);
    @include mixin.mq("sm") {
      font-size: var(--text-4xl);
    }
    @include mixin.mq("md") {
      font-size: var(--text-6xl);
      margin-bottom: var(--spacing-9);
    }
    @include mixin.mq("lg") {
      font-size: var(--text-8xl);
      margin-bottom: var(--spacing-10);
    }
  }
  &__description {
    line-height: var(--leading-lg);
    margin-bottom: var(--spacing-16);
    @include mixin.mq("sm") {
      margin-bottom: var(--spacing-20);
    }
    @include mixin.mq("md") {
      margin-bottom: var(--spacing-24);
    }
    @include mixin.mq("lg") {
      margin-bottom: var(--spacing-30);
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    @include mixin.mq("lg") {
      flex-wrap: nowrap;
      align-items: flex-start;
      gap: var(--spacing-16);
    }
  }
  &__l-content {
    width: 100%;
    @include mixin.mq("lg") {
      width: 50%;
      flex-shrink: 0;
      gap: var(--spacing-16);
      position: sticky;
      top: 124px;
      left: 0;
    }
  }
  &__r-content {
    width: 100%;

    @include mixin.mq("lg") {
      flex-shrink: 1;
    }
  }
  &__thumbnail {
    width: 100%;
    aspect-ratio: 3 / 2;
    background-color: var(--color-accent-lightness);
    border-radius: 8px;
    > img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__gallery {
    display: grid;
    gap: var(--spacing-3);
    margin-top: var(--spacing-3);
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: var(--spacing-8);
    @include mixin.mq("md") {
        gap: var(--spacing-4);
        margin-top: var(--spacing-4);
    }
    @include mixin.mq("lg") {
        margin-bottom: 0;
      gap: var(--spacing-5);
      margin-top: var(--spacing-5);
    }
  }
  &__gallery-image {
    aspect-ratio: 1 / 1;
    background-color: var(--color-accent-lightness);
    border-radius: 8px;
    > img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: var(--spacing-9);
      @include mixin.mq("md") {
        margin-bottom: var(--spacing-12);
      }
      @include mixin.mq("lg") {
        margin-bottom: var(--spacing-14);
      }
    }
  }
  &__item-title {
    margin-bottom: var(--spacing-4);
    font-size: var(--text-md);
    font-weight: var(--font-weight-700);
    letter-spacing: var(--tracking-base);
    width: fit-content;
    padding-bottom: var(--spacing-1);
    border-bottom: 2px solid var(--color-accent-darken);

    @include mixin.mq("md") {
      margin-bottom: var(--spacing-5);
      font-size: var(--text-lg);
    }
    @include mixin.mq("lg") {
      font-size: var(--text-xl);
      margin-bottom: var(--spacing-6);
      padding-bottom: var(--spacing-2);
    }
  }
  &__item-link {
    line-height: var(--leading-lg);
    color: var(--color-primary);
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    .icon-link {
      width: 1.25em;
      height: auto;
    }
    &:hover {
      opacity: 1;
      color: var(--color-accent-darken);
    }
  }
  &__item-text {
    line-height: var(--leading-lg);
  }
  &__button {
    margin-top: var(--spacing-14);
    @include mixin.mq("md") {
      margin-top: var(--spacing-18);
    }
    @include mixin.mq("lg") {
      margin-top: var(--spacing-20);
    }
  }
}
