@use "@/styles/foundation/mixin" as mixin;
/* Button
   ----------------------------------------------------------------- */

.c-button {
  border-radius: 4px;
  text-align: center;
  padding: 16px 16px;
  display: block;
  @include mixin.setFont($weight: var(--font-weight-700));
  @include mixin.mq("md") {
    padding: 18px 20px;
  }
  @include mixin.mq("lg") {
    padding: 20px 24px;
  }
  &--primary {
    box-shadow: 0 0 6px rgb(var(--color-black-rgb) / 0.1);
    background-color: var(--color-primary);
    transition: background-color 0.3s, box-shadow 0.3s;
    color: var(--color-white);
    @include mixin.mq("lg") {
      box-shadow: 0 0 8px rgb(var(--color-black-rgb) / 0.1);
    }
    &:hover {
      background-color: var(--color-accent-darken);
      box-shadow: 0 0 10px rgb(var(--color-black-rgb) / 0.2);
      opacity: 1;
      @include mixin.mq("lg") {
        box-shadow: 0 0 12px rgb(var(--color-black-rgb) / 0.2);
      }
    }
  }
  &--small {
    width: 100%;
    @include mixin.mq("sm") {
      max-width: 240px;
    }
  }
  &--medium {
    width: 100%;
    @include mixin.mq("sm") {
      max-width: 320px;
    }
  }
  &--large {
    width: 100%;
    @include mixin.mq("sm") {
      max-width: 400px;
    }
  }
  &--fit {
    width: fit-content;
  }
}
