@use "@/styles/foundation/mixin" as mixin;

/* TopSkill
   ----------------------------------------------------------------- */
.p-topSkill {
  padding-block: 0 var(--spacing-24);
  position: relative;
  z-index: 1;
  @include mixin.mq("lg") {
    padding-block: 0 var(--spacing-30);
  }
  &::after {
    content: "";
    width: 100%;
    background-color: var(--color-accent-lightness);
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 0;
    height: 348px;
    @include mixin.mq("md") {
      height: 394px;
    }
    @include mixin.mq("lg") {
      height: 480px;
    }
  }
  &__text {
    text-align: center;
    line-height: var(--leading-lg);
    padding-inline: 5%;
    &:not(:nth-last-of-type(1)) {
      margin-bottom: 1em;
    }
    @include mixin.mq("md") {
      &:not(:nth-last-of-type(1)) {
        margin-bottom: 2em;
      }
    }
  }
  &__button {
    margin-inline: auto;
    margin-top: var(--spacing-12);
    width: 90%;
    @include mixin.mq("md") {
      margin-top: var(--spacing-14);
    }
    @include mixin.mq("lg") {
      margin-top: var(--spacing-16);
    }
  }
  &__slider {
    margin-top: var(--spacing-10);
    @include mixin.mq("md") {
      margin-top: var(--spacing-14);
    }
    @include mixin.mq("lg") {
      margin-top: var(--spacing-18);
    }
  }
  &__slider-slide {
    display: grid;
    place-content: center;
    img {
      height: auto;
      width: 100%;
    }
    &--html {
      width: 82px * 0.6;
      @include mixin.mq("md") {
        width: 82px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 82px;
      }
    }
    &--css {
      width: 71px * 0.6;
      @include mixin.mq("md") {
        width: 71px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 71px;
      }
    }
    &--sass {
      width: 80px * 0.6;
      @include mixin.mq("md") {
        width: 80px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 80px;
      }
    }
    &--javascript {
      width: 80px * 0.6;
      @include mixin.mq("md") {
        width: 80px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 80px;
      }
    }
    &--typescript {
      width: 80px * 0.6;
      @include mixin.mq("md") {
        width: 80px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 80px;
      }
    }
    &--next {
      width: 240px * 0.6;
      @include mixin.mq("md") {
        width: 240px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 240px;
      }
    }
    &--react {
      width: 80px * 0.6;
      @include mixin.mq("md") {
        width: 80px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 80px;
      }
    }
    &--php {
      width: 96px * 0.6;
      @include mixin.mq("md") {
        width: 96px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 96px;
      }
    }
    &--microcms {
      width: 300px * 0.6;
      @include mixin.mq("md") {
        width: 300px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 300px;
      }
    }
    &--vercel {
      width: 288px * 0.6;
      @include mixin.mq("md") {
        width: 288px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 288px;
      }
    }
    &--github {
      width: 72px * 0.6;
      @include mixin.mq("md") {
        width: 72px * 0.75;
      }
      @include mixin.mq("lg") {
        width: 72px;
      }
    }
  }
}
